*{
    padding: 0;
    margin: 0;
}
/* Själva spelplanen*/
#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}
#block{
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 400px;
     /* Gör så att nästa block kommer 4 sekunder efter föregående */
    animation: block 4s infinite linear;
}
/* Gör så att skärmen åker och nya block kommer insvävandes*/
@keyframes block{
    0%{left:400px}
    100%{left:-50px}
}
#hole{
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 400px;
    top: -500px;
    /* Gör så att öppningen kommer 4 sekunder efter föregående. Öppningen och blocken måste ske vid samma tid annars komemr det inte fungera*/
    animation: block 4s infinite linear;
}
/* Provosorisk spelkaraktär, sedan ska spelkaraktären bytas ut till den riktiga.*/
#character{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}
